sudo: required
services:
  - docker

before_install:
    - docker build -t puku/complex-react -f ./client/Dockerfile.dev ./client

script:
   - docker run puku/complex-react npm test -- --coverage

after_success:
  - docker build -t puku/complex-client ./client
  - docker build -t puku/complex-nginx ./nginx
  - docker build -t puku/complex-server ./server
  - docker build -t puku/complex-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push puku/complex-client
  - docker push puku/complex-nginx
  - docker push puku/complex-server
  - docker push puku/complex-worker